@charset "UTF-8";

html {
  font-size: 100%;
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  background-color: #fff;
  color: #333;
  /* box-sizing: border-box; */
}

/* body * {
  outline: red 1px solid; 画面外にはみ出す要素がないかの確認
} */

a {
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

.header-wrap {
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 20%);
  z-index: 10;
}

.header-wrap__logo {
  padding-left: 2.5%;
}

.header-wrap__logo a h1 {
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #0ba21a;
  font-size: clamp(1.5rem, 0.955rem + 2.73vw, 3rem);
}

.header-wrap__nav {
  margin-right: 130px;
  /* background-color: #FF9110; */
  /* width: 40%; */
}

.header-wrap__nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-wrap__nav__list__item {
  width: 280px;
}

.header-wrap__nav__list__item a {
  height: 58px;
}

.header-wrap__nav__list__item__tel {
  width: 100%;
  display: flex;
  align-items: center;
  /* background-color: #FCFF5A; */
}

.header-wrap__nav__list__item__tel__left {
  background-color: #ff9110;
  color: #fff;
  width: 54px;
  height: 54px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.6;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
}

.header-wrap__nav__list__item__tel__right {
  color: #333;
  font-weight: 700;
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
}

.header-wrap__nav__list__item__tel__right small {
  display: inline-block;
  color: #000;
  background-color: #eee;
  font-size: clamp(0.375rem, 0.284rem + 0.45vw, 0.625rem);
  text-align: center;
  padding: 1.2% 0;
}

.header-wrap__nav__list__item__tel__right small i {
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  margin-right: 4%;
}

.header-wrap__nav__list__item__web {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #0ba21a;
  color: #fff;
  /* padding-right: 5%; */
  padding-left: 6%;
}

.header-wrap__nav__list__item__web i {
  font-size: clamp(1.5rem, 1.318rem + 0.91vw, 2rem);
}

.header-wrap__nav__list__item__web p {
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  font-weight: 500;
  line-height: 1.4;
  margin-left: 3%;
}

.header-wrap__nav__list__item__web p strong {
  color: #fcff5a;
}

.h-open {
  position: absolute;
  z-index: 9999;
  right: 0;
  cursor: pointer;
  width: 80px;
  height: 100%;
  background-color: #c0c0c0;
  text-align: center;
}

.h-open small {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 0.5rem;
  top: 0;
}

.h-open span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 20px;
  height: 1.5px;
  border-radius: 2px;
  background-color: #fff;
  width: 50%;
}

.h-open span:nth-of-type(1) {
  top: 35px;
}

.h-open span:nth-of-type(2) {
  top: 50px;
}

.h-open span:nth-of-type(3) {
  top: 65px;
}

.h-open.active span:nth-of-type(1) {
  top: 40px;
  left: 20px;
  transform: translateY(6px) rotate(-45deg);
  width: 50%;
}

.h-open.active span:nth-of-type(2) {
  opacity: 0;
}

.h-open.active span:nth-of-type(3) {
  top: 52px;
  left: 20px;
  transform: translateY(-6px) rotate(45deg);
  width: 50%;
}

#h-nav {
  position: fixed;
  z-index: 999;
  top: 0;
  right: -120%;
  width: 80%;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 20%);
  transition: all 0.6s;
}

#h-nav__list__first {
  position: absolute;
  z-index: 999;
  top: 25%;
  left: 25%;
  transform: translateY(-25%) translateX(-25%);
}

#h-nav__list__second {
  position: absolute;
  z-index: 999;
  top: 75%;
  left: 75%;
  transform: translateY(-75%) translateX(-75%);
}

#h-nav li {
  position: relative;
  border-bottom: solid 1.5px #c0c0c0;
  margin: 22.5% 0;
}

#h-nav li::after {
  position: absolute;
  content: "";
  left: -15px;
  bottom: 0;
  height: 100%;
  width: 3.75%;
  background-color: #c0c0c0;
}

#h-nav li a {
  color: #333;
  display: block;
  font-size: clamp(0.5rem, 0.227rem + 1.36vw, 1.25rem);
  font-weight: 400;
}

#h-nav.panelactive {
  right: 0;
}

/* top */
.top-wrap {
  width: 100%;
  padding-top: 80px;
}

.top-wrap img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.top-wrap__sp {
  display: none;
}

/* appeal */
.__inner {
  max-width: 1000px;
  width: 87.5%;
  margin: 0 auto;
  margin-top: 5%;
}

.appeal {
  background-color: #aaa;
}

.appeal-wrap {
  margin-top: 0;
  padding-top: 5%;
}

.appeal-wrap__ttl {
  text-align: center;
}

.appeal-wrap__ttl h2 {
  background-color: #333;
  display: inline-block;
  border-radius: 30px;
  font-size: clamp(1.25rem, 0.614rem + 3.18vw, 3rem);
  font-weight: 700;
  color: #fff;
  padding: 1.25% 3.5%;
}

.appeal-wrap__body__top {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.appeal-wrap__body__top__balloon {
  position: relative;
  background-color: #fff;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 25%);
  display: inline-block;
  border-radius: 50%;
  padding: 1% 3%;
  margin-top: 2.5%;
}

.appeal-wrap__body__top__balloon::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30%;
  width: 10%;
  height: 25%;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 25%);
}

.appeal-wrap__body__top__balloon.__balloon2::before {
  left: 40%;
  width: 12.5%;
}

.appeal-wrap__body__top__balloon::after {
  content: "";
  position: absolute;
  left: 60%;
  bottom: -60%;
  width: 5%;
  height: 12.5%;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 25%);
}

.appeal-wrap__body__top__balloon.__balloon2::after {
  left: 35%;
  width: 6%;
}

.appeal-wrap__body__top__balloon p {
  font-size: clamp(0.75rem, 0.477rem + 1.36vw, 1.5rem);
  font-weight: 500;
}

.appeal-wrap__body__top__img {
  width: 80%;
  aspect-ratio: 3 / 2;
  margin: 8% auto 0;
}

.appeal-wrap__body__top__img img {
  width: 100%;
  object-fit: cover;
}

.appeal-wrap__body__bottom {
  display: flex;
  justify-content: space-around;
}

.appeal-wrap__body__bottom__balloon {
  position: relative;
  background-color: #fff;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 25%);
  display: inline-block;
  border-radius: 50%;
  padding: 1% 3%;
  margin: 6.5% 0 10%;
}

.appeal-wrap__body__bottom__balloon p {
  font-size: clamp(0.75rem, 0.477rem + 1.36vw, 1.5rem);
  font-weight: 500;
}

.appeal-wrap__body__bottom__balloon.__balloon1 p {
  line-height: 3.2;
}

.appeal-wrap__body__bottom__balloon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -30%;
  width: 10%;
  height: 25%;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 25%);
}

.appeal-wrap__body__bottom__balloon.__balloon2::before {
  left: 40%;
  width: 11%;
}

.appeal-wrap__body__bottom__balloon::after {
  content: "";
  position: absolute;
  left: 60%;
  top: -60%;
  width: 5%;
  height: 12.5%;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 25%);
}

.appeal-wrap__body__bottom__balloon.__balloon2::after {
  left: 35%;
  width: 5%;
}

.appeal-wrap__body__bottom__balloon p {
  font-size: clamp(0.75rem, 0.477rem + 1.36vw, 1.5rem);
}

/* __triangle */
.__triangle {
  position: relative;
  margin-top: 0;
}

.__triangle-one {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 45px 60px 0 60px;
  border-color: #0ba21a transparent transparent transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/* effect */
.effect-wrap__ttl {
  text-align: center;
}

.effect-wrap__ttl h2 {
  font-size: clamp(1.25rem, 0.614rem + 3.18vw, 3rem);
}

.effect-wrap__ttl h2 small {
  display: block;
  font-size: clamp(0.75rem, 0.477rem + 1.36vw, 1.5rem);
}

.effect-wrap__body__ttl {
  text-align: center;
}

.effect-wrap__body__ttl h3 {
  font-weight: 500;
  font-size: clamp(0.938rem, 0.46rem + 2.39vw, 2.25rem);
  background-color: #adeeb3;
  display: inline-block;
  padding: 1% 3%;
  margin-top: 10%;
}

.effect-wrap__body__list {
  margin: 5% 0;
}

.effect-wrap__body__list__item {
  display: flex;
  align-items: center;
  border-bottom: dotted 1px #333;
  width: 65%;
  margin: 0 auto;
  padding: 1.5% 0;
}

.effect-wrap__body__list__item small {
  font-size: clamp(0.875rem, 0.375rem + 2.5vw, 2.25rem);
  font-weight: 500;
  border: 1px solid #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}

.effect-wrap__body__list__item p {
  font-size: clamp(0.625rem, 0.125rem + 2.5vw, 2rem);
  font-weight: 500;
}

.effect-wrap__body__list__item p b {
  color: #0ba21a;
  font-size: clamp(0.875rem, 0.375rem + 2.5vw, 2.25rem);
}

.effect-wrap__body__img {
  width: 80%;
  aspect-ratio: 3 / 2;
  margin: 0 auto;
}

.effect-wrap__body__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* trial */
.trial {
  margin: 5% 0;
}

.trial-wrap {
  background-color: #adeeb3;
  border-radius: 100px;
  position: relative;
}

.trial-wrap__ttl__sub {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.trial-wrap__ttl__sub h4 {
  font-size: clamp(1.5rem, 0.591rem + 4.55vw, 4rem);
  transform: rotate(-15deg);
}

.trial-wrap__ttl__sub h4 small {
  font-size: clamp(0.875rem, 0.102rem + 3.86vw, 3rem);
}

.trial-wrap__ttl {
  text-align: center;
}

.trial-wrap__ttl h3 {
  font-size: clamp(1.5rem, 0.227rem + 6.36vw, 5rem);
  padding-top: 4%;
}

.trial-wrap__ttl h3 small {
  font-size: clamp(0.875rem, 0.375rem + 2.5vw, 2.25rem);
  display: block;
  line-height: 1;
}

.trial-wrap__con {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.trial-wrap__con__left {
  width: 50%;
  margin-top: 3%;
}

.trial-wrap__con__left img {
  width: 100%;
  vertical-align: middle;
}

.trial-wrap__con__right {
  width: 50%;
  /* background-color: #fcff5a; */
}

.trial-wrap__con__right__item {
  width: 60%;
  height: 20%;
  /* background-color: #ff9110; */
  margin: 5% 0 5% 20%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.trial-wrap__con__right__item::after {
  position: absolute;
  z-index: -1;
  transform: skewX(-40deg);
  content: "";
  top: 0;
  bottom: 0;
  left: 0; /* 左端を50%の位置に移動 */
  right: 0; /* 右端も50%の位置に移動 */
  background-color: #ff9110;
  width: 100%;
  height: 100%;
}

.trial-wrap__con__right__item p {
  font-size: clamp(0.688rem, 0.119rem + 2.84vw, 2.25rem);
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
}

.trial-wrap__con__right__item p b {
  font-size: clamp(1rem, 0.273rem + 3.64vw, 3rem);
}

.trial-wrap__con__right__item p strong {
  padding-right: 30px;
}

.trial-wrap__price {
  position: absolute;
  z-index: 3;
  bottom: 22.5%;
  right: 12.5%;
}

.trial-wrap__price p {
  font-size: clamp(0.75rem, 0.205rem + 2.73vw, 2.25rem);
  font-weight: 700;
}

.trial-wrap__price p strong {
  font-size: clamp(2.25rem, 0.886rem + 6.82vw, 6rem);
  margin-left: 10px;
}

.trial-wrap__btn {
  position: absolute;
  z-index: 3;
  bottom: -3%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.trial-wrap__btn a {
  color: #fff;
  background-color: #ff9110;
  border-radius: 30px;
  padding: 3% 5%;
  font-size: clamp(1rem, 0.273rem + 3.64vw, 3rem);
  font-weight: 700;
  border: 3px solid #ff9110;
  opacity: 1;
  transition: all 0.3s;
}

.trial-wrap__btn a {
  color: #fff;
  background-color: #ff9110;
  border-radius: 30px;
  padding: 3% 5%;
  font-size: clamp(1rem, 0.273rem + 3.64vw, 3rem);
  font-weight: 700;
  border: 3px solid #ff9110;
  opacity: 1;
  transition: all 0.3s;
}

.trial-wrap__btn a:hover {
  color: #ff9110;
  background-color: #fff;
  border: 3px solid #ff9110;
}

/* sence */
.sence {
  background-color: #333;
  /* padding: 3% 0; */
}

.sence-wrap__ttl {
  text-align: center;
  padding: 3% 0;
}

.sence-wrap__ttl h3 {
  font-size: clamp(1rem, 0.273rem + 3.64vw, 3rem);
  color: #fff;
}

.sence-wrap__ttl h3 small {
  display: block;
  font-size: clamp(0.75rem, 0.205rem + 2.73vw, 2.25rem);
  margin-top: 5%;
}

.sence-wrap__ttl h3 small strong {
  font-size: clamp(1.5rem, 0.591rem + 4.55vw, 4rem);
}

.sence-wrap__ttl h3 b {
  text-decoration: underline;
  text-decoration-color: #0ba21a;
  text-decoration-thickness: 10px;
}

/* reason */
.reason-wrap__body__block {
  background-color: #0ba21a;
}

.reason-wrap__body__block__ttl {
  /* text-align: center; */
  padding-top: 10%;
  margin-left: 25%;
}

.reason-wrap__body__block__ttl h3 {
  color: #fff;
  font-size: clamp(0.875rem, 0.102rem + 3.86vw, 3rem);
  position: relative;
}

.reason-wrap__body__block:nth-child(1)
  .reason-wrap__body__block__ttl
  h3::before {
  position: absolute;
  content: "1";
  top: 50%;
  left: -10%;
  transform: translateY(-50%) translateX(-50%);
  font-size: clamp(0.875rem, 0.102rem + 3.86vw, 3rem);
  font-weight: 500;
  z-index: 2;
  color: #0ba21a;
}

.reason-wrap__body__block:nth-child(2)
  .reason-wrap__body__block__ttl
  h3::before {
  position: absolute;
  content: "2";
  top: 50%;
  left: -10%;
  transform: translateY(-50%) translateX(-50%);
  font-size: clamp(0.875rem, 0.102rem + 3.86vw, 3rem);
  font-weight: 500;
  z-index: 2;
  color: #0ba21a;
}

.reason-wrap__body__block:nth-child(3)
  .reason-wrap__body__block__ttl
  h3::before {
  position: absolute;
  content: "3";
  top: 50%;
  left: -10%;
  transform: translateY(-50%) translateX(-50%);
  font-size: clamp(0.875rem, 0.102rem + 3.86vw, 3rem);
  font-weight: 500;
  z-index: 2;
  color: #0ba21a;
}

.reason-wrap__body__block__ttl h3::after {
  position: absolute;
  content: "";
  top: 50%;
  left: -10%;
  width: 70px;
  height: 70px;
  background-color: #fff;
  transform: translateY(-45%) translateX(-50%) rotate(45deg);
  z-index: 1;
}

.reason-wrap__body__block__bottom {
  display: flex;
  align-items: center;
  position: relative;
  margin: 7.5% 0 0;
}

.reason-wrap__body__block__bottom__img {
  width: 27.5%;
  align-self: flex-end;
  position: absolute;
}

.reason-wrap__body__block__bottom__img img {
  width: 100%;
  vertical-align: middle;
}

.reason-wrap__body__block__bottom__con {
  margin-top: 5%;
  width: 72.5%;
  background-color: #005809;
  margin-left: auto;
  padding: 5% 2%;
  margin-bottom: 10%;
}

.reason-wrap__body__block__bottom__con p {
  color: #fff;
  font-size: clamp(0.625rem, 0.125rem + 2.5vw, 2rem);
  font-weight: 500;
}

.reason-wrap__body__block.__reason__rev {
  background-color: #333;
}

.reason-wrap__body__block__bottom.__bottom__rev {
  flex-direction: row-reverse;
}

.reason-wrap__body__block__bottom__con.__con__rev {
  margin-right: auto;
  margin-left: 0;
  background-color: #000;
}

.reason-wrap__body__block__ttl__2 {
  position: relative;
}

/* effe */
.effe-wrap__ttl {
  text-align: center;
}

.effe-wrap__ttl h3 {
  color: #0ba21a;
  font-size: clamp(1rem, 0.455rem + 2.73vw, 2.5rem);
}

.effe-wrap__ttl hr {
  width: 80%;
  margin: 1% auto 0;
  border-color: #005809;
  border-width: 2px;
}

.__triangle-effe {
  position: relative;
  margin-top: 12.5px;
}

.__triangle-two {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 20px 0 20px;
  border-color: #005809 transparent transparent transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.effe-wrap__body {
  padding-top: 30px;
}

.effe-wrap__body p {
  font-size: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);
  margin-top: 1rem;
}

.effe-wrap__body p b {
  color: #ff9110;
  font-weight: 400;
}

/* case */
.case-wrap {
  background-color: #adeeb3;
  position: relative;
  margin-top: 15%;
}

.case-wrap__con {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.case-wrap__con__ttl {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 10px 30px;
}

.case-wrap__con__ttl::after {
  position: absolute;
  z-index: -1;
  transform: skewX(-30deg);
  content: "";
  top: 0;
  bottom: 0;
  left: 0; /* 左端を50%の位置に移動 */
  right: 0; /* 右端も50%の位置に移動 */
  background-color: #005809;
}

.case-wrap__con__ttl h3 {
  color: #fff;
  font-weight: 500;
  font-size: clamp(0.875rem, 0.375rem + 2.5vw, 2.25rem);
  line-height: 1.4;
  white-space: nowrap;
}

.case-wrap__con__ttl hr {
  width: 90%;
  margin-bottom: 5px;
  border-color: #c0c0c0;
  border-width: 2px;
}

.case-wrap__txt {
  padding-top: 120px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.case-wrap__txt p {
  font-size: clamp(0.625rem, 0.489rem + 0.68vw, 1rem);
  display: inline-block;
  text-align: left;
}

.case-wrap__body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5%;
  padding-bottom: 2.5%;
  gap: 5%;
}

.case-wrap__body__block {
  width: 20%;
}

.case-wrap__body__block__ttl {
  text-align: center;
}

.case-wrap__body__block__ttl h4 {
  font-size: clamp(0.875rem, 0.466rem + 2.05vw, 2rem);
  font-weight: 500;
}

.case-wrap__body__block__img {
  margin-top: 10%;
  width: 100%;
}

.case-wrap__body__block__img img {
  width: 100%;
}

.__triangle-case {
  position: relative;
}

.__triangle-three {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 0 30px 45px;
  border-color: transparent transparent transparent #ff9110;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* anxiety */
.anxiety-wrap {
  background-color: #005809;
  position: relative;
  margin-top: 15%;
}

.anxiety-wrap__ttl {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateY(-100%) translateX(-50%);
  width: 52.5%;
}

.anxiety-wrap__ttl h3 {
  background-color: #ff9110;
  color: #fff;
  font-size: clamp(1rem, 0.545rem + 2.27vw, 2.25rem);
  font-weight: 500;
  border-radius: 15px;
  padding: 3% 0;
  text-align: center;
}

.__triangle-four {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 10px 0 10px;
  border-color: #ff9110 transparent transparent transparent;
  position: absolute;
  left: 30%;
  transform: translateX(-30%);
}

.anxiety-wrap__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anxiety-wrap__body__left {
  width: 30%;
}

.anxiety-wrap__body__left img {
  width: 100%;
  vertical-align: middle;
}

.anxiety-wrap__body__right {
  width: 30%;
}

.anxiety-wrap__body__right h4 {
  color: #fff;
  font-weight: 500;
  font-size: clamp(1rem, 0.545rem + 2.27vw, 2.25rem);
  line-height: 1.4;
  text-align: center;
}

.anxiety-wrap__body__right p {
  color: #fff;
  font-size: clamp(0.625rem, 0.489rem + 0.68vw, 1rem);
  margin-top: 2rem;
}

/* method */
.method-wrap {
  background-color: #adeeb3;
}

.method-wrap__ttl {
  text-align: center;
  padding-top: 3%;
}

.method-wrap__ttl h3 {
  font-size: clamp(1.5rem, 0.955rem + 2.73vw, 3rem);
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.method-wrap__ttl small {
  font-size: clamp(1rem, 0.545rem + 2.27vw, 2.25rem);
  margin-left: 2%;
}

.method-wrap__table {
  padding-bottom: 3%;
}

.method-wrap__table table {
  height: 425px;
  width: 80%;
  margin: 3% auto;
}

.__table__1 {
  color: #fff;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  font-weight: 500;
}

.__table__1 th {
  visibility: hidden;
}

.__table__1 td {
  height: 14.5%;
  text-align: center;
  vertical-align: middle;
}

.__tab {
  display: none;
}

.__table__1 td:nth-of-type(1),
.__table__1 td:nth-of-type(2) {
  background-color: #808080;
  border-right: 1px solid #000;
}

.__table__1 td:nth-of-type(3) {
  background-color: #005809;
}

.__table__2,
.__table__3 {
  border-bottom: 1px solid #000;
}

.__table__2 th,
.__table__3 th,
.__table__4 th {
  background-color: #ff9110;
  color: #fff;
  width: 19%;
  vertical-align: middle;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  font-weight: 500;
}

.__table__2 td,
.__table__3 td,
.__table__4 td {
  width: 27%;
  height: 28.5%;
  background-color: #fff;
  text-align: left;
  vertical-align: middle;
  font-size: clamp(0.563rem, 0.449rem + 0.57vw, 0.875rem);
  font-weight: 500;
  padding: 0 3% 0;
}

.__table__2 td:nth-of-type(1),
.__table__2 td:nth-of-type(2),
.__table__3 td:nth-of-type(1),
.__table__3 td:nth-of-type(2),
.__table__4 td:nth-of-type(1),
.__table__4 td:nth-of-type(2) {
  border-right: 1px solid #000;
}

.__table__3 td:nth-of-type(2),
.__table__4 td:nth-of-type(1),
.__table__4 td:nth-of-type(2) {
  text-align: center;
}

/* first */

.first-wrap__ttl h3 {
  font-size: clamp(0.813rem, 0.563rem + 1.25vw, 1.5rem);
  font-weight: 500;
  position: relative;
  display: inline-block;
}

.first-wrap__ttl h3::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
  border-top-style: dashed;
  border-top-color: #0ba21a;
}

.first-wrap__ttl h3 b {
  font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
  color: #0ba21a;
}

.first-wrap__con {
  margin-top: 7.5%;
  display: flex;
  justify-content: space-around;
  gap: 3%;
}

.first-wrap__con__block {
  text-align: center;
  width: 25%;
}

.first-wrap__con__block__ttl {
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
  font-weight: 500;
}

.first-wrap__con__block__img {
  margin-top: 10%;
  background-color: #adeeb3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-wrap__con__block__img img {
  padding: 10%;
  width: 60%;
}

.first-wrap__con__block__txt {
  margin-top: 15%;
  text-align: left;
  font-size: clamp(0.625rem, 0.534rem + 0.45vw, 0.875rem);
}

.con {
  background-color: #333;
}

.con-wrap {
  text-align: center;
}

.con-wrap h3 {
  color: #fff;
  font-size: clamp(1rem, 0.273rem + 3.64vw, 3rem);
  position: relative;
  display: inline-block;
  padding: 5% 0;
}

.con-wrap h3::after {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
  border-top-style: solid;
  border-top-color: #0ba21a;
  border-top-width: 5px;
}

/* contact */
.contact-wrap__form {
  margin: 3% 0 7% 0;
}

.contact-wrap__form__block {
  margin: 2% 0;
}

.contact-wrap__form__block__ttl {
  display: flex;
  align-items: center;
  border-left: 2px solid #0ba21a;
  margin-bottom: 2%;
}

.contact-wrap__form__block__ttl p {
  font-size: clamp(1rem, 0.636rem + 1.82vw, 2rem);
  margin: 0 3%;
}

.contact-wrap__form__block__input {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contact-wrap__form__block__input__one.__radio {
  margin-bottom: 2%;
  margin-right: 2%;
  display: flex;
  align-items: center;
  background-color: #eee;
  padding: 1% 3%;
  font-size: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);
}

.contact-wrap__form__block__input__one.__text {
  width: 100%;
}

.contact-wrap__form__block__input__one.__text input {
  margin-bottom: 2%;
  line-height: 4;
  padding-left: 2%;
  width: 82.5%;
  font-size: clamp(0.625rem, 0.489rem + 0.68vw, 1rem);
  background-color: #eee;
  border-style: none;
}

.contact-wrap__form__block__input__one.__date input {
  margin-bottom: 2%;
  margin-right: 2%;
  line-height: 3;
  background-color: #eee;
  border-style: none;
  padding: 3% 10%;
  font-size: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);
  font-weight: 500;
}

.contact-wrap__form__block__input__one.__time {
  margin-bottom: 2%;
  margin-right: 2%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  background-color: #eee;
  padding: 1% 3%;
  font-size: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);
}

.contact-wrap__form__btn {
  width: 23rem;
  margin: 0 auto;
  margin-top: 4%;
  margin-bottom: 10%;
}

.contact-wrap__form__btn button {
  width: 100%;
  cursor: pointer;
  font-size: clamp(0.875rem, 0.466rem + 2.05vw, 2rem);
  font-weight: 500;
  background-color: #ff9110;
  color: #fff;
  border: unset;
  line-height: 3;
  transition: all 0.3s;
}

.contact-wrap__form__btn button:hover {
  opacity: 0.7;
}

/* footer */
.footer-wrap {
  background-color: #808080;
  padding: 3% 0;
}

.footer-wrap p {
  text-align: center;
  color: #fff;
  font-size: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
}

@media screen and (max-width: 1024px) {
  .method-wrap__table table {
    width: 90%;
  }

  .header-wrap__nav {
    display: none;
  }

  .appeal-wrap__ttl h2 {
    border-radius: 15px;
  }

  .appeal-wrap__body__top__balloon {
    padding: 2% 5%;
  }

  .appeal-wrap__body__bottom__balloon {
    padding: 2% 5%;
  }

  .appeal-wrap__body__top__img {
    margin: 12.5% auto 4%;
  }

  .__triangle-one {
    border-width: 30px 45px 0 45px;
  }

  .case-wrap__txt {
    padding-top: 100px;
  }

  .__triangle-three {
    border-width: 15px 0 15px 30px;
  }

  .anxiety-wrap__body__right {
    width: 40%;
  }

  .anxiety-wrap__body__right p {
    margin-top: 1rem;
  }

  .method-wrap__table table {
    width: 95%;
  }

  .first-wrap__con__block {
    width: 30%;
  }

  .con-wrap {
    margin-top: 10%;
  }

  .contact-wrap__form {
    margin: 5% 0 9% 0;
  }

  .contact-wrap__form__block {
    margin: 3% 0;
  }

  .contact-wrap__form__block__ttl {
    margin-bottom: 3%;
  }

  .contact-wrap__form__block__input {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .contact-wrap__form__block__input__one.__radio {
    margin-bottom: 3%;
    margin-right: 3%;
  }

  .contact-wrap__form__block__input__one.__text input {
    margin-bottom: 3%;
  }

  .contact-wrap__form__block__input__one.__date input {
    margin-bottom: 3%;
    margin-right: 3%;
  }

  .contact-wrap__form__block__input__one.__time {
    margin-bottom: 3%;
    margin-right: 3%;
    margin-top: 3%;
  }

  .contact-wrap__form__btn {
    width: 23rem;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 15%;
  }

  .contact-wrap__form__btn button {
    width: 100%;
    cursor: pointer;
    font-size: clamp(0.875rem, 0.466rem + 2.05vw, 2rem);
    font-weight: 500;
    background-color: #ff9110;
    color: #fff;
    border: unset;
    line-height: 3;
    transition: all 0.3s;
  }

  .contact-wrap__form__btn button:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: 746px) {
  #h-nav {
    width: 95%;
  }


  .__triangle-one {
    border-width: 15px 30px 0 30px;
  }

  .effect-wrap__body__list__item small {
    width: 30px;
    height: 30px;
    margin-right: 4%;
  }

  .trial {
    margin: 10% 0;
  }

  .trial-wrap {
    border-radius: 50px;
  }

  .trial-wrap__price {
    position: absolute;
    z-index: 3;
    bottom: 20.5%;
    right: 2%;
  }

  .trial-wrap__btn a {
    border-radius: 15px;
  }

  .sence-wrap__ttl h3 b {
    text-decoration: underline;
    text-decoration-color: #0ba21a;
    text-decoration-thickness: 5px;
  }

  .sence-wrap__ttl {
    padding: 5% 0;
  }

  .sence-wrap__ttl h3 {
    line-height: 1.2;
  }

  .reason-wrap__body {
    margin-top: 10%;
  }

  .reason-wrap__body__block__ttl {
    margin-left: 22.5%;
  }

  .reason-wrap__body__block__ttl h3::after {
    width: 35px;
    height: 35px;
  }

  .effect-wrap__body__img {
    margin: 10% auto;
  }

  .effe-wrap__ttl {
    margin-top: 10%;
  }

  .__triangle-two {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 13px 0 13px;
    border-color: #005809 transparent transparent transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-70%) translateX(-50%);
  }

  .case-wrap__txt {
    padding-top: 60px;
  }

  .case-wrap__con__ttl hr {
    width: 100%;
    margin-bottom: 5px;
    border-color: #c0c0c0;
    border-width: 2px;
    margin: 3% auto;
  }

  .case-wrap__body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
    padding-bottom: 2.5%;
    gap: 10%;
  }

  .case-wrap__body__block {
    width: 30%;
  }

  .anxiety-wrap {
    background-color: #005809;
    position: relative;
    margin-top: 20%;
  }

  .anxiety-wrap__ttl {
    width: 70%;
  }

  .anxiety-wrap__body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .anxiety-wrap__body__left {
    width: 40%;
  }

  .anxiety-wrap__body__left img {
    width: 100%;
    vertical-align: middle;
  }

  .anxiety-wrap__body__right {
    width: 50%;
  }

  .anxiety-wrap__body__right h4 {
    color: #fff;
    font-weight: 500;
    font-size: clamp(1rem, 0.545rem + 2.27vw, 2.25rem);
    line-height: 1.4;
    text-align: center;
  }

  .method-wrap {
    margin-top: 10%;
  }

  .method-wrap__table {
    padding-bottom: 6%;
    padding-top: 6%;
    /* overflow-x: auto; tableタグのはみ出た要素を隠す */
    /* white-space: nowrap; */
    width: 95%;
    margin-left: 5%;
    /* margin-right: 5%; */
    position: relative;
  }

  .method-wrap__table table {
    height: 325px;
    width: 150%;
    /* border-collapse: collapse; */
    /* table-layout: fixed; */
    /* margin-right: 7.5%; */
    margin-bottom: 0;
  }

  .__tab {
    display: inline-block;
  }

  .first-wrap__con {
    margin-top: 7.5%;
    display: block;
  }

  .first-wrap__con__block {
    width: 60%;
    margin: 0 auto;
  }

  .first-wrap__con__block__img {
    margin-top: 5%;
  }

  .first-wrap__con__block__txt {
    margin-top: 10%;
    margin-bottom: 15%;
  }

  .contact-wrap__form__block__input__one.__radio {
    margin-bottom: 4%;
    margin-right: 4%;
    padding: 2% 4%;
  }

  .contact-wrap__form__block__input__one.__text {
    width: 100%;
  }

  .contact-wrap__form__block__input__one.__text input {
    margin-bottom: 4%;
    line-height: 4;
    padding-left: 4%;
    width: 85%;
  }

  .contact-wrap__form__block__input__one.__date input {
    margin-bottom: 4%;
    margin-right: 4%;
    line-height: 3;
    padding: 3% 15%;
  }

  .contact-wrap__form__block__input__one.__time {
    margin-bottom: 4%;
    margin-right: 4%;
    margin-top: 4%;
    padding: 2% 4%;
  }

  .contact-wrap__form__btn {
    width: 15rem;
  }

  .footer-wrap {
    padding: 6% 0;
  }
}

@media screen and (max-width: 480px) {
  #h-nav {
    width: 100%;
  }

  #h-nav__list__first {
    position: absolute;
    z-index: 999;
    top: 25%;
    left: 20%;
    transform: translateY(-25%) translateX(-20%);
  }

  #h-nav__list__second {
    position: absolute;
    z-index: 999;
    top: 75%;
    left: 60%;
    transform: translateY(-75%) translateX(-10%);
  }

  .top-wrap__pc {
    display: none;
  }

  .top-wrap__sp {
    display: block;
  }

  .__inner {
    width: 92.5%;
  }

  .__triangle-one {
    border-width: 10px 15px 0 15px;
  }

  .effect-wrap__body__list__item small {
    width: 15px;
    height: 15px;
    margin-right: 4%;
  }

  .trial-wrap {
    border-radius: 25px;
  }

  .trial-wrap__con__right__item p strong {
    padding-right: 15px;
  }

  .trial-wrap__btn {
    width: 80%;
    /* display: inline-block; */
  }

  .trial-wrap__btn a {
    border-radius: 15px;
  }

  .reason-wrap__body__block__ttl h3::after {
    width: 24px;
    height: 24px;
  }

  .case-wrap {
    margin-top: 20%;
  }

  .__triangle-three {
    border-width: 10px 0 10px 20px;
  }

  .anxiety-wrap__ttl {
    width: 80%;
  }

  .anxiety-wrap__body__right h4 {
    font-size: clamp(0.75rem, 0.205rem + 2.73vw, 2.25rem);
  }

  .anxiety-wrap__body__right p {
    font-size: clamp(0.5rem, 0.318rem + 0.91vw, 1rem);
    margin-top: 1rem;
  }

  .first-wrap__con {
    margin-top: 7.5%;
    display: block;
  }

  .method-wrap__table table {
    width: 200%;
  }

  .first-wrap__con__block__img {
    margin-top: 5%;
  }

  .first-wrap__con__block__txt {
    margin-top: 10%;
    margin-bottom: 15%;
  }

  .con-wrap h3::after {
    border-top-width: 3px;
  }

  .contact-wrap__form__block__input__one.__radio {
    margin-bottom: 5%;
    margin-right: 5%;
    padding: 2% 4%;
  }

  .contact-wrap__form__block__input__one.__text {
    width: 100%;
  }

  .contact-wrap__form__block__input__one.__text input {
    margin-bottom: 5%;
    line-height: 4;
    padding-left: 5%;
    width: 85%;
  }

  .contact-wrap__form__block__input__one.__date input {
    margin-bottom: 5%;
    margin-right: 5%;
    line-height: 3;
    padding: 3% 15%;
  }

  .contact-wrap__form__block__input__one.__time {
    margin-bottom: 1%;
    margin-right: 5%;
    margin-top: 5%;
    padding: 2% 4%;
  }

  .contact-wrap__form__btn {
    width: 15rem;
  }

  .contact-wrap__form__btn {
    width: 12.5rem;
  }
}
